redis = "12800"

[train]
resume = false
epoch = 1
output_dir = "./outputs/nemotron-3-nano-vl-alignment"
epsilon = 1e-6
optm_name = "AdamW"
optm_lr = 1e-5
optm_impl = "fused"
optm_weight_decay = 0.01
optm_betas = [ 0.9, 0.999,]
optm_warmup_steps = 20
optm_decay_type = "cosine"
optm_grad_norm_clip = 1.0
async_tp_enabled = false
compile = false
param_dtype = "bfloat16"
fsdp_reduce_dtype = "float32"
master_dtype = "float32"
fsdp_offload = false 
fsdp_reshard_after_forward = "default"
train_batch_per_replica = 16
sync_weight_interval = 1
enable_validation = false 

[custom]
enable_moe_load_balancing_training = true
n_step_per_workload_report = 10
train_layers = ["Qwen3VLVisionPatchMerger"]
webdataset_root_paths = [
    "/workspace/simonz/data/vlm-data-debug/laion_recaption_filter_train_shuf_3m",
    # "/workspace/simonz/data/vlm-data-debug/infinitmm_stage1_qwenvl_filter_clip_id_shuf_5m",
    # "/workspace/simonz/data/vlm-data-debug/synthdog-en-chat-sample-250k-stage1",
    # "/workspace/simonz/data/vlm-data-debug/synthdog-zh-chat-sample-250k-stage1",
    # "/workspace/simonz/data/vlm-data-debug/unsplash_filter_001_800k_grounding_caption_chat_stage1_train",
    # "/workspace/simonz/data/vlm-data-debug/webvid_caption_openai_format_1M_stage1_train",
]

[policy]
model_name_or_path = "/workspace/nemotron-vlm/NVIDIA-Nemotron-3-Nano-VL-30B-A3B-BF16"
model_max_length = 8192
model_gradient_checkpointing = true 

[logging]
logger = ['console', 'wandb']
project_name = "nemotron-nano-3-vl"
experiment_name = "alignment"

[train.train_policy]
type = "sft"
dataset.name = "HuggingFaceH4/llava-instruct-mix-vsft"
dataset.subset = ""
dataset.split = "train"
dataset.test_size = 100
enable_dataset_cache = false
dataloader_num_workers = 4
dataloader_prefetch_factor = 4
conversation_column_name = ""
mini_batch = 2

[train.ckpt]
enable_checkpoint = true
save_freq = 100
save_mode = "async"

[policy.parallelism]
n_init_replicas = 1
tp_size = 8
cp_size = 1
dp_shard_size = 1
pp_size = 1
dp_replicate_size = 1
cp_rotate_method = "allgather"
