redis = "12800"

[train]
resume = false
epoch = 1
output_dir = "./outputs/openvla-oft-grpo"
epsilon = 1e-6
optm_name = "AdamW"
optm_lr = 1e-6
optm_impl = "fused"
optm_weight_decay = 0.01
optm_betas = [ 0.9, 0.999,]
optm_warmup_steps = 20
optm_grad_norm_clip = 1.0
async_tp_enabled = false
compile = false
param_dtype = "bfloat16"
fsdp_reduce_dtype = "float32"
master_dtype = "bfloat16"
fsdp_offload = false
fsdp_reshard_after_forward = "default"
train_batch_per_replica = 32
sync_weight_interval = 1

[policy]
model_name_or_path = "Haozhan72/Openvla-oft-SFT-libero10-traj1"
model_max_length = 4096
model_gradient_checkpointing = true

[logging]
logger = ['console', 'wandb']
project_name = "simplevla-rl"
experiment_name = "openvla-oft-libero10-sft-traj1-grpo"

[train.train_policy]
type = "grpo"
dataset.name = "libero"
dataset.subset = "libero_10"
dataset.split = "train"
dataset.test_size = 496
enable_dataset_cache = false
dataloader_num_workers = 4
dataloader_prefetch_factor = 4
conversation_column_name = "messages"
temperature = 1.0
epsilon_low = 0.2
epsilon_high = 0.28
lower_bound_ratio = 10.0
kl_beta = 0.0
mu_iterations = 1
mini_batch = 4
min_filter_prefix_tokens = 1

[train.ckpt]
enable_checkpoint = true
save_freq = 30
save_mode = "async"

[rollout]
gpu_memory_utilization = 0.7
enable_chunked_prefill = true
n_generation = 16
batch_size = 8
quantization = "none"
max_response_length = 1024
enforce_eager=false

[policy.parallelism]
n_init_replicas = 1
tp_size = 1
cp_size = 1
dp_shard_size = 4
pp_size = 1
dp_replicate_size = 1
cp_rotate_method = "allgather"

[rollout.parallelism]
n_init_replicas = 4
tp_size = 1
cp_size = 1
dp_shard_size = 1
pp_size = 1
dp_replicate_size = 1

[validation]
enable = false
freq = 30
batch_size = 496
dataset.name = "libero"
dataset.subset = "libero_10"
dataset.split = "test"