redis = "12800"
[train]
resume = false
epoch = 1
output_dir = "./outputs/qwen3_vlm_alignment"
epsilon = 1e-6
optm_name = "AdamW"
optm_lr = 1e-4
optm_impl = "fused"
optm_weight_decay = 0.01
optm_betas = [ 0.9, 0.999,]
optm_warmup_steps = 0.03
optm_decay_type = "cosine"
optm_grad_norm_clip = 1.0
async_tp_enabled = false
compile = false
param_dtype = "bfloat16"
fsdp_reduce_dtype = "float32"
master_dtype = "float32"
fsdp_offload = false
fsdp_reshard_after_forward = "default"
train_batch_per_replica = 12
sync_weight_interval = 1
enable_validation = false
validation_step = 30
validation_batch_per_replica = 2

[policy]
model_name_or_path = "Qwen/Qwen3-VL-4B-Instruct"
model_max_length = 8192
model_gradient_checkpointing = true
trainable_pattern = ['^model\.visual\.merger\..*', '^model\.visual\.deepstack_merger_list\.\d+\..*']

[logging]
logger = ['console', 'wandb']
project_name = "qwen3-vlm"
experiment_name = "alignment"

[train.train_policy]
type = "sft"                                        # Training type: supervised fine-tuning
dataset.name = "/workspace/haoyuan/vlm_data/stage1" # local dataset path or huggingface dataset if it is compatible with custom dataset in launcher
dataset.subset = ""
dataset.split = "train"
dataset.test_size = 100
enable_dataset_cache = false
dataloader_num_workers = 4
dataloader_prefetch_factor = 4
conversation_column_name = ""                       # Column name for conversation data
mini_batch = 2                                      # Batchs size for single forward/backward, using for gradient accumulation

[train.ckpt]
enable_checkpoint = true
save_freq = 100                       # Save checkpoint every N steps
save_mode = "async"                   # Async or sync checkpoint saving

[policy.parallelism]
n_init_replicas = 1
tp_size = 1
cp_size = 1
dp_shard_size = 8
pp_size = 1
dp_replicate_size = 1
cp_rotate_method = "allgather"

[custom]
include_video = false
# whether use i4 dataloader
use_i4 = false
# i4 data source configuration from i4 repo format can be reset to data source configurations from i4 repo
i4_data_source = "i4_data_utils.data_weight_default"
