redis = "12800"

[train]
resume = false
max_num_steps = 15000
epoch = 9999999
output_dir = "./outputs/pi05/behavior_sft"
optm_name = "AdamW"
optm_lr = 1e-6
optm_impl = "fused"
optm_weight_decay = 1e-10
optm_betas = [0.9, 0.95]
optm_warmup_steps = 1000
optm_grad_norm_clip = 1.0
optm_decay_type = "cosine"
optm_decay_ratio = 1.0
epsilon = 1e-8
compile = true
param_dtype = "bfloat16"
fsdp_reduce_dtype = "float32"
fsdp_offload = false
fsdp_reshard_after_forward = "default"
train_batch_per_replica = 64
sync_weight_interval = 1

[train.ckpt]
enable_checkpoint = true
save_freq = 5000
save_mode = "async"

[policy]
model_name_or_path = "/workspace/comet_weights_pytorch_2/pi05-b1kpt50-cs32"
model_gradient_checkpointing = true

[policy.parallelism]
n_init_replicas = 1
tp_size = 1
cp_size = 1
dp_shard_size = 1
pp_size = 1
dp_replicate_size = 8

[logging]
logger = ["console", "wandb"]
project_name = "sft-debug"
experiment_name = "cosmos-rl-test"

[train.train_policy]
type = "sft"
trainer_type = "pi_sft"
mini_batch = 64
dataloader_num_workers = 8

[train.train_policy.dataset]
name = "behavior-1k/2025-challenge-demos"
local_dir = "/workspace/2025-challenge-demos"

[validation]
enable = false

[custom]
action_dim = 32
action_horizon = 32
action_sequence_keys = ["action"]
image_size = [224, 224]
max_token_len = 200
num_steps = 10
action_chunk = 32
action_env_dim = 23
train_expert_only = false
discrete_state_input = true
tasks = ["setting_the_fire"]
modalities = ["rgb"]
model_type = "PI05"
prompt_from_task = true
skip_norm_stats = false
norm_stats="/workspace/comet_weights_pytorch_2/pi05-b1kpt50-cs32/assets/behavior-1k/2025-challenge-demos/norm_stats.json" # default use json from resumed weights
episodes_index = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199]
add_dataset_name = "delinqu/comet-1.5k"
add_dataset_local_dir = "/workspace/comet-1.5k"
add_data_multiplier = 2