[[model.conditioner]]
name = "fps"
type = "remap_key"
output_key = "fps"
input_key = "fps"

[[model.conditioner]]
name = "padding_mask"
type = "remap_key"
output_key = "padding_mask"
input_key = "padding_mask"

[[model.conditioner]]
name = "text"
type = "text_attr"
input_key = ["t5_text_embeddings"]

[[model.conditioner]]
name = "use_video_condition"
type = "boolean_flag"
output_key = "use_video_condition"
input_key = "fps"

[model]
text_encoder_class = "reason1_7B"
fsdp_shard_size = 8

[model_parallel]
tensor_model_parallel_size = 1
pipeline_model_parallel_size = 1
pipeline_parallel_size = 1
context_parallel_size = 1

[model.net]
use_crossattn_projection = true
crossattn_proj_in_channels = 100352
crossattn_emb_channels = 1024

[model.text_encoder_config]
compute_online = true
embedding_concat_strategy = "full_concat"
n_layers_per_group = 5
ckpt_path = "nvidia/Cosmos-Reason1-7B"
tokenizer_type = "Qwen/Qwen2.5-VL-7B-Instruct"

[model.text_encoder_config.encoder_model_config]
tokenizer_type = "Qwen/Qwen2.5-VL-7B-Instruct"
name_or_path = "Qwen/Qwen2.5-VL-7B-Instruct"
architectures = ["Qwen2_5_VLForConditionalGeneration"]
hidden_size = 3584
intermediate_size = 18944
vocab_size = 152064
max_window_layers = 28
model_type = "qwen2_5_vl"
num_attention_heads = 28
num_key_value_heads = 4
num_hidden_layers = 28
output_hidden_states = true
tie_word_embeddings = false

[model.text_encoder_config.encoder_model_config.vision_config]
hidden_act = "silu"
hidden_size = 1280
model_type = "qwen2_5_vl"
out_hidden_size = 3584
tokens_per_second = 2
window_size = 112

[model.rl]
sample_steps = 20
update_ref_every_iter = 0
data_beta = 0.01
guidance = 0.0
kl_beta = 0.0
min_num_conditional_frames = 0

[trainer]
max_iter = 2001

[[trainer.callbacks]]
name = "grad_clip"
[trainer.callbacks.args]
clip_norm = 1.0
force_finite = true

[[trainer.callbacks]]
name = "low_prec"
[trainer.callbacks.args]
update_iter = 1

[[trainer.callbacks]]
name = "iter_speed"
[trainer.callbacks.args]
hit_thres = 5
save_s3 = true
save_s3_every_log_n = 10
every_n = 2

[[trainer.callbacks]]
name = "param_count"
[trainer.callbacks.args]
save_s3 = true

[[trainer.callbacks]]
name = "heart_beat"
[trainer.callbacks.args]
step_size = 1
update_interval_in_minute = 20
save_s3 = true
every_n = 10

[[trainer.callbacks]]
name = "device_monitor"
[trainer.callbacks.args]
every_n = 2
step_size = 1
save_s3 = true
upload_every_n_mul = 10
log_memory_detail = true

[[trainer.callbacks]]
name = "manual_gc"
[trainer.callbacks.args]
warm_up = 5
every_n = 5

[[trainer.callbacks]]
name = "compile_tokenizer"
[trainer.callbacks.args]
enabled = true
compile_after_iterations = 4
dynamic = false

[[trainer.callbacks]]
name = "frame_loss_log"
[trainer.callbacks.args]
logging_iter_multipler = 1
save_logging_iter_multipler = 1
save_s3 = true

[[trainer.callbacks]]
name = "every_n_sample_reg"
[trainer.callbacks.args]
step_size = 1
n_x0_level = 4
n_viz_sample = 3
n_sample_to_save = 128
num_sampling_step = 35
guidance = []
is_x0 = false
is_sample = true
save_s3 = true
is_ema = false
use_negative_prompt = false
show_all_frames = false
fps = 16
every_n = 16

[[trainer.callbacks]]
name = "every_n_sample_ema"
[trainer.callbacks.args]
step_size = 1
n_x0_level = 4
n_viz_sample = 3
n_sample_to_save = 128
num_sampling_step = 35
guidance = []
is_x0 = false
is_sample = true
save_s3 = true
is_ema = true
use_negative_prompt = false
show_all_frames = false
fps = 16
every_n = 16

[[trainer.callbacks]]
name = "wandb"
[trainer.callbacks.args]
logging_iter_multipler = 1
save_logging_iter_multipler = 10
save_s3 = true

[[trainer.callbacks]]
name = "wandb_10x"
[trainer.callbacks.args]
logging_iter_multipler = 10
save_logging_iter_multipler = 1
save_s3 = true

[[trainer.callbacks]]
name = "dataloader_speed"
[trainer.callbacks.args]
step_size = 1
save_s3 = true
every_n = 2

[[trainer.callbacks]]
name = "reward_callback"
[trainer.callbacks.args]
logging_iter_multipler = 1
save_logging_iter_multipler = 10
save_s3 = true

[trainer.grad_scaler_args]
enabled = false

[optimizer]
lr = 1e-5
weight_decay = 1e-4

[scheduler]
f_start = [1e-6]
f_max = [1.0]
f_min = [1.0]
warm_up_steps = [50]
cycle_lengths = [400000]

[dataloader_train]
type = 'web'

[dataloader_train.image_dataloader]
ratio = 0

  [dataloader_train.image_dataloader.dataloader]
  use_cache = false
  cache_size = 8
  concat_size = 1
  cache_replay_name = "image_dataloader"
  batch_size = 12
  num_workers = 6
  pin_memory = true
  webdataset = true

    [dataloader_train.image_dataloader.dataloader.cache_augment_fn]
    name = "duplicate_batches"
    args = {n = 1}

    [dataloader_train.image_dataloader.dataloader.dataset]
    dataset_resolution_type = "gt720p"
    is_train = true
    augmentor_name = "image_basic_augmentor_without_embeddings"
    object_store = "s3"
    detshuffle = false
    caption_type = "qwen2p5_7b_v4"
    dataset_name = "cosmos_pretrain_and_synthetic_20250520_image_whole"
    resolution = "720"

[dataloader_train.video_dataloader]
ratio = 1

  [dataloader_train.video_dataloader.dataloader]
  use_cache = false
  cache_size = 16
  concat_size = 1
  cache_replay_name = "video_dataloader"
  batch_size = 1
  num_workers = 8
  pin_memory = true
  webdataset = true

    [dataloader_train.video_dataloader.dataloader.cache_augment_fn]
    name = "duplicate_batches_random"
    args = {n = 1.8}

    [dataloader_train.video_dataloader.dataloader.dataset]
    is_train = true
    num_video_frames = 93
    chunk_size = 256
    min_fps_thres = 10
    max_fps_thres = 60
    dataset_resolution_type = "all"
    augmentor_name = "video_basic_augmentor_v2"
    object_store = "s3"
    caption_type = "t2w_qwen2p5_7b"
    detshuffle = false
    long_caption_ratio = 7
    medium_caption_ratio = 2
    short_caption_ratio = 1
    user_caption_ratio = 90
    use_native_fps = true
    dataset_name = "cosmos_posttraining_hq_v6_20250607_video_whole"
    video_decoder_name = "video_naive_bytes"
    resolution = "720"

[dataloader_val]
type = 'web'

[dataloader_val.image_dataloader]
ratio = 1

  [dataloader_val.image_dataloader.dataloader]
  use_cache = false
  cache_size = 32
  concat_size = 1
  cache_replay_name = "image_dataloader"
  batch_size = 2
  num_workers = 8
  pin_memory = true
  webdataset = false

    [dataloader_val.image_dataloader.dataloader.dataset]
    resolution = "512"
    len_t5 = 512
    t5_dim = 1024

[dataloader_val.video_dataloader]
ratio = 1

  [dataloader_val.video_dataloader.dataloader]
  use_cache = false
  cache_size = 32
  concat_size = 1
  cache_replay_name = "video_dataloader"
  batch_size = 1
  num_workers = 8
  pin_memory = true
  webdataset = false

    [dataloader_val.video_dataloader.dataloader.dataset]
    resolution = "512"
    len_t5 = 512
    t5_dim = 1024
    num_video_frames = 136

[job]
project = "cosmos_rl_wfm"
group = "official_runs_t2v"
name = "cosmos_predict2-5_2b_720_reason_embedding_ddrl"
wandb_mode = "online"

[checkpoint]
type = "distributed"
load_path = "nvidia/Cosmos-Predict2.5-2B"
model_id = "base/pre-trained/d20b7120-df3e-4911-919d-db6e08bad31c_ema_bf16.pt"

  [checkpoint.save_to_object_store]
  enabled = false
  credentials = "credentials/s3_checkpoint.secret"
  bucket = "checkpoints-us-east-1"

  [checkpoint.load_from_object_store]
  enabled = false
  credentials = "credentials/s3_checkpoint.secret"
  bucket = "checkpoints-us-east-1"
